button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f7e2f7;
    padding: 10px;
}

button:hover {
    background-color: #ffe3e3;
}

.plan-table-btn-area {
    padding: 10px;
    text-align: right;
}

.modal-inner-btn-area {
    padding: 0px 10px 10px 10px;
    text-align: right;
    border-bottom: 1px solid darkgray;
}
